################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SSCGitT3/v15/Server/sqlite3/storage.ide-wal
/.vs/SSCGitT3/v15/Server/sqlite3/storage.ide-shm
/.vs/SSCGitT3/v15/Server/sqlite3/storage.ide
/.vs/SSCGitT3/v15/Server/sqlite3/db.lock
/.vs/S5/v15/.suo
